/* general */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(150,0,150,0.6);
}
ul{
    list-style: none;
}
.p-std{
    padding: 10px
}
.d-none{
    display: none;
}
.d-block{
    display: block;
}
.d-flex{
    display: flex;
}
.j-center{
    justify-content: center;
}
.a-center{
    align-items: center;
}
.fd-col{
    flex-direction: column;
}
/* ////general */
/* header */
h2{
    color: white;
    text-align: center;
    margin: 20px
}
/* ////header */
/* main */
#formContainer input:focus, #formContainer select:focus{
    background-color: rgba(0, 0, 0, 0.1);
    transition: background-color 0.1s;
}
.container{
    margin: auto;
    max-width: 1200px;
    text-align: center;
    background-color: white;
    box-shadow: 2px 2px 5px;
    padding: 20px;
    border-radius: 5px;
}
#formContainer .buttons button{
    margin:5px 20px 0 20px;
    padding: 2px 3px;
}
#tiketsRecap li{
    width: 100%;
    border: 1px solid #bbbbbb;
    border-width: 1px 1px 0px 1px;
}
#tiketsRecap li:last-child{
    border-width: 1px 1px 1px 1px;
}
#tiketsRecap li *:first-child{
    background-color: rgba(0, 0, 0, 0.2);
}
#tiketsRecap .element *{
    width: calc(20%);
    display: inline-block;
    padding: 5px 0;
    border-right: 1px solid #bbbbbb;
}
#tiketsRecap .element *:last-child{
    border: none;
}
#tiketsRecap li{
    min-width: 500px;
}
@media screen and (max-width: 600px) {
    #formContainer div.d-flex{
        flex-direction: column;
        align-items: center;
    }
    #tiketsRecap{
        overflow-x: scroll;
        scrollbar-width: 0;
    }
}